* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #363535;
}

.content {
    background-color: #F2F2F2;
    padding: 10px 20px;
    width: 600px;
    margin: 0 auto;
    box-shadow: 2px 6px 50px #A5A5A5;
}

.recipe-links {
    list-style: none;
}

.content img {
    max-width: 500px;
    height: auto;
}

.recipe h1 {
    padding-bottom: 30px;
}